[package]
name = "gotham-client"
version = "0.1.0"
authors = [
    "gbenattar <g.benattar@gmail.com>",
    "Oded Leiba <odedleiba5@gmail.com"
]
edition = "2021"

[target.'cfg(target_os="android")'.dependencies]
jni = { version = "0.5", default-features = false }

[lib]
crate-type = ["cdylib", "lib"]
name = "client_lib"
path = "src/lib.rs"

[dependencies]
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1.0"
log = "0.4"
reqwest = "0.9.5"
failure = "0.1.5"
floating-duration = "0.1.2"

two-party-ecdsa = { git = "https://github.com/ZenGo-X/two-party-ecdsa.git" }
kms = { git = "https://github.com/ZenGo-X/kms-secp256k1.git", branch = "2.0" }


[dependencies.two-party-musig2-eddsa]
git = "https://github.com/ZenGo-X/two-party-musig2-eddsa"
tag = "v0.1.2"

[dev-dependencies]
mockall = "0.11"
