[package]
name = "gotham-server"
version = "0.1.0"
authors = [
    "gbenattar <g.benattar@gmail.com>",
    "Oded Leiba <odedleiba5@gmail.com"
]
edition = "2021"

[lib]
name = "server_lib"
path = "src/lib.rs"

[[bin]]
name = "server_exec"
path = "src/main.rs"

[dependencies]
rocket = { version = "0.5.0-rc.1", default-features = false, features=["json"]}
rocksdb = {version = "0.17", optional = true}
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1.0"
rusoto_dynamodb = { version = "0.47", optional = true }
rusoto_core = { version = "0.47", optional = true}
log = "0.4"
config = "0.9.2"
uuid = { version = "0.7", features = ["v4"] }
failure = "0.1.5"
jsonwebtoken = {version = "8.0.1"}
hex = "0.4"
two-party-ecdsa = { git = "https://github.com/ZenGo-X/two-party-ecdsa.git" }
kms = { git = "https://github.com/ZenGo-X/kms-secp256k1.git", branch = "2.0" }
chrono = "0.4.9"
env_logger = "0.9.0"

[features]
default = ["local", "aws"]
local = ["rocksdb"]
aws = ["rusoto_dynamodb", "rusoto_core"]

[dependencies.serde_dynamodb]
git = "https://github.com/KZen-networks/serde_dynamodb"
features = ["native-tls"]
default-features = false

[dependencies.two-party-musig2-eddsa]
git = "https://github.com/ZenGo-X/two-party-musig2-eddsa"
tag = "v0.1.2"

[dev-dependencies]
time-test = "0.2.1"
floating-duration = "0.1.2"