[package]
name = "gotham-server"
version = "0.1.0"
authors = [
    "gbenattar <g.benattar@gmail.com>",
    "Oded Leiba <odedleiba5@gmail.com"
]
edition = "2018"

[lib]
name = "server_lib"
path = "src/lib.rs"

[[bin]]
name = "server_exec"
path = "src/main.rs"

[dependencies]
rocket = { git = "https://github.com/SergioBenitez/Rocket.git", rev = "dcea9563fcb081874f862a4113d40f0172ed2113" }
rocket_contrib = { git = "https://github.com/SergioBenitez/Rocket.git", rev = "dcea9563fcb081874f862a4113d40f0172ed2113" }
rocksdb = "0.10.1"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
rusoto_dynamodb = "0.36.0"
rusoto_core = "0.36.0"
time-test = "0.2.1"
log = "0.4"
time = "*"
config = "0.9.2"
uuid = { version = "0.7", features = ["v4"] }
error-chain = "0.12.0"
failure = "0.1.5"
jsonwebtoken = "6.0.1"
rust-crypto = "0.2"
hex = "0.3.2"

[dependencies.zk-paillier]
git = "https://github.com/KZen-networks/zk-paillier"
tag = "v0.2.0"

[dependencies.kms]
path = "../../kms-secp256k1"

[dependencies.multi-party-ecdsa]
path = "../../multi-party-ecdsa"

[dependencies.multi-party-ed25519]
git = "https://github.com/KZen-networks/multi-party-eddsa"
branch = "alt-curv-v0.2.0"

[dependencies.multi-party-schnorr]
git = "https://github.com/KZen-networks/multi-party-schnorr"
tag = "v0.3.0"

[dependencies.curv]
git = "https://github.com/KZen-networks/curv"
tag = "v0.2.0"
features =  ["ec_secp256k1"]

[dependencies.serde_dynamodb]
git = "https://github.com/KZen-networks/serde_dynamodb"

[patch.crates-io]
rust-gmp = { version = "0.5.0", features = ["serde_support"], git = "https://github.com/KZen-networks/rust-gmp" }
