[package]
name = "gotham-server"
version = "0.1.4"
authors = [
    "gbenattar <g.benattar@gmail.com>",
    "Oded Leiba <odedleiba5@gmail.com"
]
edition = "2018"

[lib]
name = "server_lib"
path = "src/lib.rs"

[[bin]]
name = "server_exec"
path = "src/main.rs"

[dependencies]
rocket = { version = "0.5.0-rc.1", default-features = false, features=["json"]}
rocksdb = "0.17.0"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
rusoto_dynamodb = "0.47.0"
rusoto_core = "0.47.0"
log = "0.4"
config = "0.9.2"
uuid = { version = "0.7", features = ["v4"] }
error-chain = "0.12.0"
failure = "0.1.5"
jsonwebtoken = "8.0.1"
hex = "0.3.2"
two-party-ecdsa = { git = "https://github.com/ZenGo-X/two-party-ecdsa.git" }
kms = { git = "https://github.com/ZenGo-X/kms-secp256k1.git", branch = "2.0" }

[dependencies.serde_dynamodb]
git = "https://github.com/KZen-networks/serde_dynamodb"
features = ["native-tls"]
default-features = false

[dependencies.two-party-musig2-eddsa]
git = "https://github.com/ZenGo-X/two-party-musig2-eddsa"
tag = "v0.1.2"

[dev-dependencies]
time-test = "0.2.1"
floating-duration = "0.1.2"